.hero-section {
    background-image: url('D:\MERN\reactProject\Frontend\src\assets\blackcar 1.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height hero section */
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add overlay for better text readability */
}

.container {
    position: relative;
    z-index: 1;
}


 /* homepageabout  */
.background-image {
    /* background-image: url(''); */
    background-color: #B0B0B0;
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 600px;
    width: 100%;
   
  }


  /* for features of homepage */
  .custom-bg {
    background-color: #F7F7F7;
    height: 100%;
}

  .custom-gap {
    gap: 11rem; /* Adjust the value to your preferred gap size */
  }


  /* in services of homepage */
  .card-img-top {
    width: 100%;
    height: 310px; /* Set the height as per your preference */
    object-fit: cover; /* Ensures the image fits within the specified size */
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition */
  }

  .card-img-top:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
    filter: brightness(1.1); /* Make the image a bit brighter */
  }

/* for contact us */
  .background-contact-image {
    background-image: url('D:\MERN\reactProject\Frontend\src\assets\backgroud.jpg');
  
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 480px;
    width: 100%;
   
  }

  .form-background{
    background-color: whitesmoke;
  }

  .login-background{
  
  }


  /* remove underline */
  .underline {
    text-decoration: none;
  }